<div id="footer">
  <footer class="footer ">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Compañía</h4>
          <ul>
            <li><a (click)="irAPagina('/conocenos')">Conócenos</a></li>
            <li><a (click)="irAPagina('/nuestros-servicios')">Nuestros servicios</a></li>
            <li><a (click)="irAPagina('/politica-privacidad')">Política de privacidad</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Ayuda</h4>
          <ul>
            <li><a href="https://www.google.com/intl/es/gmail/about/" target="_blank">Gmail</a></li>
          </ul>
        </div>
        <div class="footer-col" id="rss">
          <h4>Síguenos</h4>
          <div class="social-links">
            <a href="https://twitter.com/afernandezzm_">
              <img src="./assets/images/twitter.svg" alt="twitter" /><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/a.feernandezzm/">
              <img src="./assets/images/instagram.svg" alt="Instagram" /><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/antonio-fernandez-911008252/">
              <img src="./assets/images/linkedin.svg" alt="linkedin" /><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <br />
        <p style="color: #ffffff">
          Copyrigth&copy; Todos los derechos reservados 2023
          <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img
            alt="Licencia de Creative Commons" style="border-width:0"
            src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br /><a
          rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nd/4.0/"></a>
        </p>
        <p></p>
      </div>
    </div>
  </footer>
</div>
