<div id="footer">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Compañía</h4>
          <ul>
            <li><a href="#">Conócenos</a></li>
            <li><a href="#">Nuestros servicios</a></li>
            <li><a href="#">Política de privacidad</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Ayuda</h4>
          <ul>
            <li><a href="#">Gmail</a></li>
            <li><a href="#">Opciones de pago</a></li>
          </ul>
        </div>
        <div class="footer-col" id="rss">
          <h4>Síguenos</h4>
          <div class="social-links">
            <a href="https://twitter.com/afernandezzm_">
              <img src="./assets/images/twitter.svg" alt="twitter" /><i
                class="fab fa-twitter"
              ></i
            ></a>
            <a href="https://www.instagram.com/a.feernandezzm/">
              <img src="./assets/images/instagram.svg" alt="Instagram" /><i
                class="fab fa-instagram"
              ></i
            ></a>
            <a href="https://www.linkedin.com/in/antonio-fernandez-911008252/">
              <img src="./assets/images/linkedin.svg" alt="linkedin" /><i
                class="fab fa-linkedin-in"
              ></i
            ></a>
          </div>
        </div>
        <br />
        <p style="color: #ffffff">
          Copyrigth&copy; Todos los derechos reservados 2022
        </p>
      </div>
    </div>
  </footer>
</div>
