  /* Estilos personalizados aquí */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;

  }
  *{
    font-size: 18px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
