<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Política de Privacidad</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
  <div class="container">
    <h1>Política de Privacidad</h1>

    <p>
      En nuestra página web, nos tomamos muy en serio la privacidad de nuestros usuarios. A continuación, te informamos
      sobre cómo recopilamos, utilizamos, divulgamos y protegemos tu información personal.
    </p>

    <h2>Recopilación de información</h2>
    <p>
      Durante el proceso de registro en nuestra página, solicitamos cierta información personal, como tu nombre,
      dirección de correo electrónico, número de teléfono, etc. Esta información se utiliza únicamente para fines
      relacionados con nuestros servicios y nunca será compartida con terceros sin tu consentimiento.
    </p>

    <h2>Uso de la información</h2>
    <p>
      La información recopilada se utiliza para brindarte los servicios que ofrecemos, como gestionar tus citas en
      gimnasios, personalizar tu experiencia en el sitio web y mejorar nuestros servicios en general. No utilizaremos tu
      información para enviar correos no deseados ni para fines publicitarios sin tu consentimiento.
    </p>

    <h2>Divulgación de información</h2>
    <p>
      No compartiremos tu información personal con terceros, excepto en los casos en que sea necesario para cumplir con
      la ley o cuando tengamos tu consentimiento expreso. En tales casos, nos aseguraremos de implementar las medidas
      adecuadas para proteger tu privacidad.
    </p>

    <h2>Seguridad de la información</h2>
    <p>
      Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados,
      alteraciones, divulgaciones o destrucciones. Utilizamos protocolos de cifrado y seguimos las mejores prácticas de
      seguridad para garantizar la integridad y confidencialidad de tus datos.
    </p>

    <h2>Cambios en la Política de Privacidad</h2>
    <p>
      Nos reservamos el derecho de realizar cambios en nuestra Política de Privacidad en cualquier momento. Te
      recomendamos que revises periódicamente esta página para estar al tanto de cualquier actualización.
    </p>
    <p>Si tienes alguna pregunta o inquietud relacionada con nuestra política de privacidad, no dudes en comunicarte con
      nosotros a través de la información de contacto proporcionada en nuestro sitio web.
    </p>
    <p> Gracias por confiar en nosotros y por revisar nuestra política de privacidad.</p>

  </div>
</body>

</html>
