<div id="titulo" class="mt-3">
  <h2>CITAS</h2>
</div>

<div class="container p-5 mt-3 my-4 rounded shadow-sm" style="background-color: white">
  <div class="table-responsive">
    <table
      class="table table-bordered text-center table-responsive"
      style="border: 1px solid black"
      id="tablaCitas"
    >
      <thead style="background-color: #24262b; color: white">
        <tr>
          <th>GYM</th>
          <th>Fecha de la cita</th>
          <th>Hora elegida</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citas" [ngClass]="{'past-date': isPastDate(cita.to_char)}">
          <td>{{ cita.nombre_gym }}</td>
          <td>{{ cita.to_char }}</td>
          <td>{{ cita.hora_cita }}</td>
          <td>
            <button type="button" class="btn btn-warning" *ngIf="!isPastDate(cita.to_char)" data-bs-toggle="modal" data-bs-target="#editar-cita-modal" (click)="seleccionarCita(cita.id_cita)">
              Modificar cita
            </button>

            <button *ngIf="isPastDate(cita.to_char.toString())"class="btn btn-secondary" disabled>CITA PASADA</button>

            <button mat-fab color="warn" aria-label="Borrar" (click)="seleccionarCita(cita.id_cita)" data-bs-toggle="modal" data-bs-target="#eliminarCitaModal">
          <mat-icon>delete</mat-icon>
        </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div style="text-align: center" class="mt-3">
  <div>
    <img
      src="./assets/images/calendario.png"
      alt="cita"
      id="imagenCita"
      class="img-fluid"
    />
  </div>
</div>
<div style="display: flex; justify-content: center">
  <button
    type="button"
    class="btn btn-primary mt-3 my-2"
    data-bs-toggle="modal"
    data-bs-target="#citaModal"
  >
    Solicitar cita
  </button>
</div>

<div
  class="modal fade"
  id="citaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="citaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="citaModalLabel">Pedir Cita</h5>
        <button
          type="button"
          class="close"
          aria-label="Cerrar"
          onclick="$('#citaModal').modal('hide')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <h3 id="nombre" name="nombre_cliente" required [(ngModel)]="nombre_cliente" readonly disabled class="custom-h3">{{ nombre_cliente }}</h3>

           <!--  <label for="nombre">Nombre:</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre_cliente"
              required
              [(ngModel)]="nombre_cliente"
              readonly
              disabled
            /> -->
          </div>
          <div class="form-group">
            <label for="telefono">Número de teléfono:</label>
            <input
              type="tel"
              class="form-control"
              id="telefono"
              name="telefono_cliente"
              required
              pattern="[0-9]{10}"
              title="El número de teléfono debe tener 10 dígitos"

            />
          </div>
          <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input
              type="date"
              class="form-control"
              id="fecha"
              name="fecha_cita"
              min="2023-02-23"
              max="2023-12-31"
              required
              [(ngModel)]="fecha_cita"
            />
          </div>
          <div class="form-group">
            <label for="hora">Hora:</label>
            <select class="form-control" id="hora" name="hora_cita" [(ngModel)]="hora_cita" required>
              <option value="">Selecciona una hora</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
            </select>
          </div>
          <div class="form-group">
            <label for="gimnasio">Gimnasio:</label>
            <select class="form-control" id="gimnasio" name="nombre_gym" [(ngModel)]="nombre_gym" required>
              <option value="">Selecciona un gimnasio</option>
              <option   *ngFor="let gimnasio of gimnasios">{{ gimnasio }}</option>
           <!--    <option value="Gimnasio B">Gimnasio B</option>
              <option value="Gimnasio C">Gimnasio C</option> -->
            </select>
          </div>

          <div style="display: flex; justify-content: center">
            <button type="submit" class="btn btn-primary" (click)="registrarCita()">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal modificar cita -->
<div class="modal" id="editar-cita-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modificar cita</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input
              type="date"
              class="form-control"
              id="fecha"
              name="fecha_cita"
              min="2023-02-23"
              max="2023-12-31"
              required
              [(ngModel)]="fecha_cita"
            />
          </div>
          <div class="form-group">
            <label for="hora">Hora:</label>
            <select class="form-control" id="hora" name="hora_cita" [(ngModel)]="hora_cita" required>
              <option value="">Selecciona una hora</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="editarCita()" >Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal eliminar cita -->
<div class="modal fade" id="eliminarCitaModal" tabindex="-1" aria-labelledby="eliminarCitaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarCitaModalLabel">¿Está seguro de que desea eliminar esta cita?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="borrarCita()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
