<h3 class="mt-3" style="text-align: center"><b>RUTINAS</b></h3>
<!-- <div class="container g-0">
  <div>
    <img src="./assets/images/gimnasio6.jpg" alt="maquinas" style="display: block; margin: 0 auto"
      class="img-fluid w-100 max-width-75" />
  </div>
</div> -->
<div class="container p-4 mt-3 my-4 rounded shadow-sm" style="background-color: white" id="containerRutinas">
  <div class="container p-4 mt-3">
    <div class="table-responsive">
      <h3 style="text-align: center"><b>Tabla de ejercicios</b></h3>
      <table class="table table-bordered text-center my-4" style="border: 1px solid black" id="tablaRutinas">
        <thead style="background-color: #24262b; color: white">
          <tr>
            <th>Ejercicio</th>
            <th>Series</th>
            <th>Repeticiones</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ejercicio of ejercicios">
            <td>{{ejercicio.nombre_ejercicio}}</td>
            <td>{{ejercicio.series}}</td>
            <td>{{ejercicio.repeticiones}}</td>
            <td>
              <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#modificarEjercicioModal" (click)="seleccionarEjercicio(ejercicio.id_ejercicio)">
                Modificar Ejercicio
              </button>
              <button mat-fab color="warn" aria-label="Borrar" (click)="seleccionarEjercicio(ejercicio.id_ejercicio)" data-bs-toggle="modal" data-bs-target="#eliminarEjercicioModal">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="spinner"></div>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center;">
    <button type="button" class="btn btn-primary mt-3 my-2 btn-sm" id="crearRutinaBtn" data-bs-toggle="modal"
      data-bs-target="#modalNuevoEjercicio">
      Agregar ejercicios a rutina
    </button>
    <button type="button" class="btn btn-secondary mt-2 btn-sm" (click)="generarPDF()">
      Generar PDF
    </button>
  </div>



</div>

<!-- Modal para insertar -->
<div class="modal fade" id="modalNuevoEjercicio" tabindex="-1" aria-labelledby="modalNuevoEjercicioLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoEjercicioLabel">
          Agregar ejercicio a la rutina
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="ejercicioInput" class="form-label">Ejercicio</label>
          <input type="text" class="form-control" id="ejercicioInput" name="nombre_ejercicio"
            [(ngModel)]="nombre_ejercicio" required/>
        </div>
        <div class="mb-3">
          <label for="seriesInput" class="form-label">Series</label>
          <input type="number" class="form-control" id="seriesInput" name="series" [(ngModel)]="series" required/>
        </div>
        <div class="mb-3">
          <label for="repeticionesInput" class="form-label">Repeticiones</label>
          <input type="text" class="form-control" id="repeticionesInput" name="repeticiones"
            [(ngModel)]="repeticiones" required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" id="agregarBtn" (click)="insertarEjercicio()">
          Agregar ejercicio
        </button>
      </div>
      <div class="spinner"></div>
    </div>
  </div>
</div>


<div class="modal fade" id="modificarEjercicioModal" tabindex="-1" role="dialog"
  aria-labelledby="modificarEjercicioModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modificarEjercicioModalLabel">Modificar Ejercicio</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="ejercicioInput" class="form-label">Ejercicio</label>
          <input type="text" class="form-control" id="ejercicioInput" name="nombre_ejercicio"
            [(ngModel)]="nombre_ejercicio" required />
        </div>
        <div class="mb-3">
          <label for="seriesInput" class="form-label">Series</label>
          <input type="number" class="form-control" id="seriesInput" name="series" [(ngModel)]="series" required/>
        </div>
        <div class="mb-3">
          <label for="repeticionesInput" class="form-label">Repeticiones</label>
          <input type="text" class="form-control" id="repeticionesInput" name="repeticiones"
            [(ngModel)]="repeticiones"required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="editarEjercicio()">Guardar cambios</button>
      </div>
      <div class="spinner"></div>
    </div>
  </div>
</div>


<!-- Modal eliminar cita -->
<div class="modal fade" id="eliminarEjercicioModal" tabindex="-1" aria-labelledby="eliminarCitaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarCitaModalLabel">¿Está seguro de que desea eliminar este ejercicio?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="borrarEjercicio()">Eliminar</button>
      </div>
      <div class="spinner"></div>
    </div>
  </div>
</div>
