<!DOCTYPE html>
<html>

<head>
  <title>Conócenos - Desarrollador Web Frontend</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <style>
    /* Estilos personalizados aquí */
    body {
      font-family: Arial, sans-serif;
    }

    h1,
    h2 {
      text-align: center;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }

    .text-center {
      text-align: center;
    }

    .my-5 {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  </style>
</head>

<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <img src="../assets/images/imagen.jpeg" alt="Foto de mí" />
      </div>
      <div class="col-sm-12 col-md-8">
        <h1>Antonio Fernández Marín</h1>
        <h2>Desarrollador Web Frontend</h2>
        <p>
          Soy graduado superior en Desarrollo de Aplicaciones Web y he trabajado en diversos proyectos que me han
          permitido adquirir experiencia en distintas áreas del desarrollo web.
        </p>
        <p>
          Me apasiona el mundo digital y estoy en constante aprendizaje, siempre buscando estar al día con las últimas
          tendencias y tecnologías. Tengo una gran capacidad para trabajar en equipo, adaptarme a situaciones nuevas y
          dar soluciones creativas e innovadoras.
        </p>
        <p>
          En cuanto a mi experiencia, he trabajado en proyectos tanto personales como en equipo, que me han permitido
          desarrollar mis habilidades en el desarrollo frontend con Angular y Node.js, así como en la implementación de
          soluciones escalables y eficientes utilizando tecnologías como JavaScript, CSS y Bootstrap. Además, tengo
          experiencia en la gestión de proyectos y en la implementación de buenas prácticas de desarrollo.
        </p>
        <p>
          Siempre busco ofrecer un servicio de alta calidad y me enfoco en crear soluciones que cumplan con las
          necesidades de los usuarios y que sean amigables y fáciles de usar. Me apasiona el mundo de la tecnología y
          espero poder seguir desarrollándome en esta área para poder ofrecer soluciones innovadoras y eficientes a
          través del desarrollo web.
        </p>
      </div>
    </div>
  </div>
</body>

</html>
