<div id="titulo">
  <h2>REGISTRARSE</h2>
</div>

<br />
<div id="botonInicioSesion">
  <button
    type="submit"
    class="btn btn-primary btn-block mx-3"
    name="iniciarSesion"
    id="botonIS"
    (click)="cambiarFormularioCliente()"
  >
    Cliente
  </button>
  <button
    type="submit"
    class="btn btn-primary btn-block mx-3"
    value="Responsable"
    href="#"
    id="administrador"
    (click)="cambiarFormulario()"
  >
    Responsable
  </button>
</div>
<div *ngIf="formularioVisible">
  <div class="card shadow p-3 mb-5 bg-white rounded" id="card-formulario">
    <div class="card-body">

      <form id="formularioRegistroCliente">
        <h2 style="text-align: center">Cliente</h2>
        <div id="formulario">
          <div class="form-outline mb-4">
            <label class="form-label" for="nombre">Nombre*</label>
            <input
              type="text"
              id="nombre"
              class="form-control"
              name="nombre_cliente"
              autofocus
              required
              autocomplete
              [(ngModel)]="nombre"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="apellidos">Apellidos*</label>
            <input
              type="text"
              id="apellidos"
              class="form-control"
              name="apellidos_cliente"
              required
              autocomplete
              [(ngModel)]="apellidos"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="fechaNacimiento"
              >Fecha Nacimiento</label
            >
            <input
              type="date"
              id="fechaNacimiento"
              class="form-control"
              name="fnac_cliente"
              [(ngModel)]="fechaNacimiento"
            />
          </div>
       <!--    <div class="form-outline mb-4">
            <label class="form-label" for="telefono">Teléfono*</label>
            <input
              type="tel"
              id="telefono"
              class="form-control"
              name="telefono"
              pattern="(\+34|0034|34)?[ -]*(6|7)[ -]*([0-9][ -]*){8}"
              required
              autocomplete
            />
          </div> -->
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Correo electrónico*</label>
            <input
              type="email"
              id="email"
              class="form-control"
              name="email_cliente"
              required
              autocomplete
              [(ngModel)]="email"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="contraseña">Contraseña*</label>
            <input
              type="password"
              id="contraseña"
              class="form-control"
              name="contraseña_cliente"
              required
              [(ngModel)]="contrasenya"
            />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="recordar"
                checked
                name="recordar"
              />
              <label class="form-check-label" for="recordar">
                Recuérdame
              </label>
            </div>
          </div>
          <div class="col" id="olvidaste">
            <a href="#!">¿Olvidaste la contraseña?</a>
          </div>
        </div>
        <div id="botonInicioSesion">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            name="registroCliente"
            id="botonRe"
            (click)="registrar()"
          >
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!formularioVisible">
  <div class="card shadow p-3 mb-5 bg-white rounded" id="card-formulario2">
    <div class="card-body">
      <h2 style="text-align: center">Responsable</h2>
      <form id="formularioResponsable">
        <div id="formulario">
          <div class="form-outline mb-4">
            <label class="form-label" for="nombre">Nombre*</label>
            <input
              type="text"
              id="nombre"
              class="form-control"
              name="nombre_responsable"
              autofocus
              required
              autocomplete
              [(ngModel)]="nombreResponsable"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="apellidos">Apellidos*</label>
            <input
              type="text"
              id="apellidos"
              class="form-control"
              name="apellidos_responsable"
              required
              autocomplete
              [(ngModel)]="apellidosResponsable"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="telefono">Teléfono*</label>
            <input
              type="tel"
              id="telefono"
              class="form-control"
              name="telefono_responsable"
              pattern="(\+34|0034|34)?[ -]*(6|7)[ -]*([0-9][ -]*){8}"
              required
              autocomplete
              [(ngModel)]="telefonoResponsable"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="email">Correo electrónico*</label>
            <input
              type="email"
              id="email"
              class="form-control"
              name="email_responsable"
              required
              autocomplete
              [(ngModel)]="emailResponsable"
            />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="contraseña">Contraseña*</label>
            <input
              type="password"
              id="contraseña"
              class="form-control"
              name="contraseña_responsable"
              required
              [(ngModel)]="contrasenyaResponsable"
            />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="recordar"
                checked
                name="recordarAdmin"
              />
              <label class="form-check-label" for="recordar">
                Recuérdame
              </label>
            </div>
          </div>
          <div class="col" id="olvidaste">
            <a href="#!">¿Olvidaste la contraseña?</a>
          </div>
        </div>
        <div id="botonInicioSesion">
          <button
            type="submit"
            class="btn btn-primary btn-block"
            name="registrarAdmin"
            id="botonIS"
            (click)="registrarResponsable()"
          >
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
