#card-formulario2 {
  max-width: 500px;
  margin: 0 auto;

}
*{
  font-size: 18px;
}
.move-left {
  transform: translateX(-10px); /* Ajusta la cantidad de desplazamiento según tus necesidades */
  transition: transform 0.3s ease;
}
